.blog .main-hero {
	background-image: url('../images/bg-blog2.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 570px;
	color: #333;
}

.blog .main-hero hr {
	margin-left: 0;
}

.blog .main-hero h1 {
	font-family: 'ralewaythin';
	margin-top: 80px;
}


.blog-post {
	/*border-bottom: 2px solid #333;*/
}

.blog-post hr, .recent-blog-post hr {
	width: 100%;
	margin: 30px 0 20px 0;
}

.blog-post hr {
	height: 2px;
}

.recent-blog-post hr, .blog-aside hr {
	height: 1px;
	border-width: 1px;
	width: 100%;
	margin-left: 0;
	padding: 0;
}

.blog-aside .recent-blog-post hr {
	margin-top: 10px;
}

.blog-post h4 {
	font-size: 22px;
}

.blog-post h5 {
	font-size: 20px;
	font-family: 'ralewaysemibold';
}

.blog-post h4, .recent-blog-post h4 {
	font-family: 'ralewaysemibold';
	margin-top: 0;
	margin-bottom: 0;
}

.blog-post span {
	font-size: 18px;
}

.blog-post h4 + span, .recent-blog-post h4 + span {
	display: block;
}

.blog-post p {
	font-size: 22px;
}

.blog-post a, .recent-blog-post a {
	color: #333;
	text-decoration: underline;
}

.blog-post h4 + span {
	margin-bottom: 10px;
}

.blog-container {
	margin-top: 40px;
}

.blog-aside h3 {
	font-size: 22px;
	font-family: 'ralewaysemibold';
	margin-bottom: 0;
}

.blog-aside hr.hrrecent {
	border-top: 5px solid #ca3158;
	width: 40%;
	text-align: left;
	margin: 0;
}

.blog-aside hr.hrblack:nth-of-type(2) {
	margin-top: -1px;
}

.recent-blog-post h4 {
	font-size: 18px;
	line-height: 22px;
}

.recent-blog-post span {
	font-size: 14px;
}

.tags-list li {
	display: inline-block;
}

.tags-list li:nth-child(odd):after {
	content: '|';
	color: #000;
	padding: 0 10px;
}

.tags-list li:last-child:after {
	display: none;
}

.tags-list li a {
	color: #000;
	text-decoration: underline;
	font-size: 18px;
}

.archives {
	background-color: #acacac;
	text-align: center;
	padding: 20px 0;
	margin-top: 30px;
}

.archives h3 {
	font-family: 'ralewaysemibold';
	color: #fff;
	margin-top: 0;
	margin-bottom: 15px;
}

.archives-list li {
	padding: 2px 0;
}

.archives-list li a {
	color: #fff;
	text-decoration: underline;
	font-family: 'ralewaymedium';
	font-size: 20px;
}

.get-connected {
	border: 1px solid #000;
	text-align: center;
}

.get-connected .optin {
	background-color: #237ec2;
	color: #fff;
	padding: 20px 0;
}

.get-connected .btn-optin {
	border-radius: 50%;
	background-color: #f68d4f;
	color: #fff;
}

.get-connected p {
	font-size: 16px;
}

.get-connected h3 {
	font-family: 'ralewaybold';
	margin-top: 0;
	margin-bottom: 5px;
}

.social-list {
	padding: 10px 0 5px 0;
}

.search-box {
	margin-bottom: 40px;
}

.blog-main {
	margin-bottom: 40px;
}

.btn-search {
	background-color: #000;
	color: #fff;
}

.txt-optin {
	border: 1px solid #f68d4f;
	display: inline-block;
	width: 50%;
}

.optin-box {

}

.btn-optin {
	display: inline-block;
}

.blog-template p {
	font-size: 20px;
}

.share-on .social-list {
	padding-top: 0;
	margin-bottom: 20px;
}

.share-on .social-list img {
	width: 30px;
}

.share-on p {
	margin: 0 0 0 5px;
 }

.blog .contact-us {
	margin-top: 20px;
}

@media (max-width: 768px) {
	.blog .blog-photo {
		margin-bottom: 20px;
	}
	.blog .blog-main {
		margin-bottom: 20px;
	}
}

@media (max-width: 480px) {
	.blog .main-hero {
		min-height: 400px;
	}

	.blog .main-hero h1 {
		margin-top: 100px;
	}

}
