.blog .main-hero {
	background-image: url('../images/bg-blog2.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 570px;
	color: #333;
}

.blog .main-hero hr {
	margin-left: 0;
}

.blog .main-hero h1 {
	font-family: 'ralewaythin';
	margin-top: 80px;
}


.blog-post {
	/*border-bottom: 2px solid #333;*/
}

.blog-post hr, .recent-blog-post hr {
	width: 100%;
	margin: 30px 0 20px 0;
}

.blog-post hr {
	height: 2px;
}

.recent-blog-post hr {
	height: 1px;
	border-width: 1px;
}

.blog-post h4 {
	font-size: 22px;
}

.blog-post h4, .recent-blog-post h4 {
	font-family: 'ralewaysemibold';
	margin-top: 0;
	margin-bottom: 0;
}

.blog-post h4 + span, .recent-blog-post h4 + span {
	display: block;
}

.blog-post h4 + span {
	margin-bottom: 10px;
}

.recent-blog-post h4 {
	font-size: 18px;
}

.tags-list li {
	display: inline-block;
}

.tags-list li:nth-child(odd):after {
	content: '|';
	color: #000;
	padding: 0 10px;
}

.tags-list li:last-child:after {
	display: none;
}

.tags-list li a {
	color: #000;
	text-decoration: underline;
}

.archives {
	background-color: #acacac;
	text-align: center;
}

.archives-list li a {
	color: #fff;
	text-decoration: underline;
}


@media (max-width: 480px) {
	.blog-hero {
		background-position: 30% 100%;
	}
}
