.cities-hero {
	background-image: url('../images/bg-cities.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/*background-size: cover;*/
	min-height: 476px;
	color: #333;
}

.cities-hero hr {
	margin-left: 0;
}

.cities-hero h1 {
	/*font-size: 72px;*/
	font-family: 'ralewaythin';
	margin-top: 110px;
}

.cities-hero p {
	font-family: 'ralewaythin';
	/*font-size: 22px;*/
	font-size: 1.375em;
	line-height: 34px;
}

.cities .welcome {
	background-image: url('../images/bg-find-us.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/*background-size: cover;*/
	background-size: contain;
	/*min-height: 755px;*/
	min-height: 500px;
	color: #333;
}
.cities .find-us h2 {
	text-align: center;
	font-family: 'ralewaylight';
	margin-top: 40px;
}

.cities .find-us h2 b {
	font-family: 'ralewaymedium';
}

.cities .welcome h3 {
	/*font-size: 40px;*/
	font-size: 2.5em;
	font-family: 'ralewaymedium';
	margin-top: 50px;
}

.cities .welcome p:nth-of-type(1) {
	font-family: 'raleway';
	/*font-size: 22px;*/
	font-size: 1.375em;
	line-height: 34px;
	margin-top: 70px;
}

.cities .contact-us {
	margin-top: 20px;
}

.cities .contact-us h3 {
	margin-top: 50px;
}
.cities .contact-us p {
	/*font-size: 24px;*/
	font-size: 1.5em;
}

.cities .contact-us h2 {
	line-height: 1;
}

/* Wide Screen */
@media (min-width: 1230px) {
	.cities-hero {
		background-position: 0 50%;
		background-size: cover;
	}
	.cities .welcome {
		background-position: 0 10%;
		background-size: cover;
	}
}

@media (max-width: 768px) {
	.cities-hero h1 {
		margin-top: 100px;
	}
}
@media (max-width: 480px) {
	.cities-hero {
		background-position: 30% 100%;
	}
	.cities .welcome h3, .cities .welcome p:nth-of-type(1) {
		margin-top: 0;
	}
	.cities .welcome {
		background-position: center bottom;
		min-height: 1px;
		padding-bottom: 40px;
	}
    .cities .contact-us {
	    margin-top: 0;
    }
}
