@media (max-width: 480px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 46px;
	}
	h3 {
		font-size: 32px;
	}
    ul, p {
	    font-size: 18px;
    }

    .main-hero p {
	    font-size: 18px;
	    line-height: 23px;
    }

	.darkpink-banner h3 {
		font-size: 26px;
	}


	.blue-banner h3 {
		font-size: 32px;
	}

	.darkpink-banner p, .banner p {
		font-size: 18px;
	}

    .signoff {
	    font-size: 48px;
    }

    .contact-us h3 {
	    font-size: 26px;
    }

    .contact-us p {
	    font-size: 16px;
    }

    .home .our-story-box h3 {
	    font-size: 21px;
    }

	/*.home .matchmaker-txt, .home .people-txt {*/
		/*font-size: 23px;*/
		/*line-height: 27px;*/
	/*}*/

	.home .home-our-clients .author {
		font-size: 30px;
	}
    .home .home-our-clients .title {
	    font-size: 15px;
    }

    .cities .welcome h3 {
	    font-size: 26px;
    }

    .cities .welcome p {
	    font-size: 18px;
	    line-height: 26px;
    }
}