
body {
	font-family: 'raleway';
	/*padding-top: 70px;*/
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	height: 0;
}

.form-item {
	margin: 0;
}


.mobile-logo {
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    position: absolute;
    left: 20px;
}

.main-hero {
	background-image: url('../images/bg-convertible.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	/*background-size: cover;*/
	min-height: 774px;
	color: #fff;
}

.main-hero .logo img {
	margin-top: 40px;
	max-width: 100%;
	min-width: 286px;
}

.main-hero .btn {
	margin-top: 48px;
}

.main-hero h1 {
	font-family: 'ralewaythin';
	font-size: 74px;
}
.main-hero h1 b {
	font-family: 'ralewaymedium';
	font-weight: normal;
	display: block;
}
.main-hero p {
	font-size: 22px;
	font-family: 'ralewaymedium';
}
.main-hero .get-started {
	margin-top: 70px;
}
.main-hero .get-started p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	text-align: right;
}

.main-hero .get-started p b {
	display: block;
	font-size: 18px;
	font-weight: bold;
}


.signoff {
	font-family: 'freshscript';
	font-size: 70px;
	text-align: center;
	color: #237ec2;
}



.our-story-box {
	text-align: center;
	color: #fff;
	padding: 20px 0;
}

.our-story-box h3 {
	font-size: 40px;
	font-family: 'ralewaylight';
	text-transform: uppercase;
	font-weight: normal;
}

.our-story-box h3 b {
	display: block;
	font-family: 'ralewaybold';
	font-weight: normal;
}

/* our pledge */

.our-pledge {
	margin-bottom: 80px;
}

.matchmaker {
	padding-top: 20px;
}
.matchmaker ul {
	margin: 0 auto;
	font-family: 'ralewaylight';
}

.matchmaker ul.arrow-text {
	margin-top: 100px;
}

.matchmaker li {
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
}

.matchmaker li:first-child {
	text-align: left;
}

.matchmaker li:last-child {
	text-align: right;
}

.matchmaker li b {
	color: #ca3158;
	font-weight: normal;
	font-family: 'ralewaymedium';
}

.people-txt, .matchmaker-txt {
	width: 90%;
}

.matchmaker-txt, .matchmaker .arrow-left {
	float: left;
}

.people-txt, .matchmaker .arrow-right {
	float: right;
}

.matchmaker .arrow-left, .matchmaker .arrow-right {
	width: 36px;
	line-height: 80px;
}

@media (max-width: 767px) {

	.matchmaker .arrow-left, .matchmaker .arrow-right {
		width: 15px;
	}
	.matchmaker ul.arrow-text {
		margin-top: 0;
	}

}


/* Consumer Affairs */

.consumer-affairs {
	margin-top: 100px;
	padding: 40px 0 50px 0;
	margin-bottom: 90px;
}
.consumer-affairs h3 {
	font-family: 'ralewaylight';
	font-size: 33px;
	color: #fff;
	margin-top: 10%;
}

.consumer-affairs h3 b {
	font-family: 'ralewaymedium';
}

.consumer-affairs img {
	text-align: right;
	margin-top: 40px;
}

/* In The News Bar */

.in-the-news-blocks h2 {
	margin-top: 80px;
}


.news-read {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
}

@media (max-width: 480px) {

	.news-read {
		padding-top: 10px;
		padding-bottom: 10px;
	}

}
.in-the-news .read-more {
	color: #237ec2;
	font-family: 'ralewaybold';
}

.dating-survey {
	text-align: center;
}

.dating-survey h2 {
	margin-top: 90px;
}

.dating-survey .button-check .btn {
	height: 60px;
	background-color: #fff;
	border: 2px solid #acacac;
	border-radius: 30px;
	margin-bottom: 20px;
}

.dating-survey .button-check .btn.active {
	background-color: #e8e8e8;
	font-family: 'ralewaybold';
	color: #ca3158;
}

.dating-survey .button-check .btn {
	font-family: 'raleway';
	color: #333333;
	position: relative;
}

.dating-survey .button-check .btn.active .icon-check {
	position: absolute;
	top: 14px;
	left: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../images/icon-check.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 25px;
	width: 22px;
	line-height: 1;
}

.dating-survey .button-check .btn span {
	display: inline-block;
	vertical-align: middle;
}

.dating-survey p {
	font-family: 'ralewaybold';
	font-size: 18px;
}


.banner h2 {
	margin-top: 50px;
}

.banner p {
	margin-bottom: 40px;
	font-family: 'ralewaythin';
}

/* Get to know you */

.get-to-know-you {
	background-color: #237ec2;
	color: #fff;
	text-align: center;
}


/* Contact us */

.contact-us {
	text-align: center;
	margin-top: 70px;
}
.contact-us hr {
	width: 7%;
}

.contact-us h3 span {
	font-family: "Helvetica Neue", Arial;
	font-weight: normal;
	display: block;
}

.contact-form {
	margin-bottom: 109px;
}
.contact-form .dropdown {
 text-align: left;
 width: 100%;
}
@media (max-width: 768px) {
	.contact-form .dropdown:nth-of-type(1) {
		margin-bottom: 15px; /* adds spacing below city dropdown */
	}
}

.contact-form .dropdown .btn {
	color: #9f9f9f;
	text-align: left;
	width: 100%;
}

/* Typography */

h2 {
	font-size: 72px;
	font-family: 'ralewaythin';
	text-align: center;
}

h2 b {
	font-weight: normal;
	font-family: 'ralewaymedium';
}

/* Horizontal Rules */
.hrblack {
	border: 3px solid #000;
	width: 15%;
}
.hrwhite {
	border: 3px solid #fff;
	width: 15%;
}
.hrblue {
	border: 3px solid #237ec2;
	width: 15%;
}

.hrdarkpink {
	border: 3px solid #ca3158;
	width: 7%;
}

/* Imagery */

.thumbnail {
	background-color: #f7f7f7;
	border: 0;
	padding: 6px;
}


.darkpink-banner {
	font-family: 'ralewaymedium';
	background-color: #ca3158;
	color: #fff;
	text-align: center;
}

.darkpink-banner h3, .banner h3 {
	font-family: 'ralewaythin';
	font-size: 64px;
}
.darkpink-banner h3 b {
	font-weight: normal;
	font-family: 'ralewaymedium';
}

.darkpink-banner p, .banner p {
	font-size: 22px;
}

/* Buttons */

.btn-primary {
	background-color: #f68d4f;
	text-transform: uppercase;
	border: 0;
}

/* Quotes and Testimonials */

blockquote {
	padding: 0;
	margin: 0;
	border: 0;
}

cite {
	color: #237ec2;
	font-size: 40px;
	font-family: "freshscript";
	font-style: normal;
	display: block;
}

.title {
	color: #237ec2;
	font-family: 'ralewaylight';
	font-size: 20px;
}

.give-us-a-call {
	background-color: #f68d4f; 
	color: #fff;
	text-align: center;
}

.lets-chat {
	background-color: #f1f1f0;
	border-bottom: 1px solid #c4beaa;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.lets-chat p span {
	font-size: 16px;
}
.lets-chat p {
	font-size: 25px;
	margin: 10px 0;
}

@media (max-width: 767px) {
	.give-us-a-call {
		width: 100%;
		position: fixed;
		z-index: 100;
		top: 0;
	}
	.main-hero {
		padding-top: 100px;
	}
}


/* Carousels */



.carousel-indicators {
	bottom: 130px;
}

.carousel-indicators li {
	background-color: #fff;
	border:1px solid #237ec2;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.carousel-indicators li.active {
	background-color: #237ec2;
	width: 30px;
	height: 30px;
}


/* Structure */


.dating-trends {
	text-align: center;
	margin: 50px auto;
}

.dating-trends .bg-like {
	background-image: url('../images/bg-like-thumb.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 170px;
}

.dating-trends .bg-calendar {
	background-image: url('../images/bg-calendar.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 170px;
}

.dating-trends .bg-magnifying-glass {
	background-image: url('../images/bg-magnifying-glass.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 170px;
}

@media (max-width: 767px){
	.bg-like, .bg-magnifying-glass {
		margin-bottom: 40px;
	}
	.bg-calendar {
		margin-bottom: 20px;
	}
}

.dating-trends h3 {
	font-family: 'ralewaymedium';
	font-size: 66px;
}

.dating-trends p b {
	font-weight: normal;
 	font-family: 'ralewaybold';
}

.dating-trends h3, .dating-trends p {
	color: #237ec2;
}

.footer {
	color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer .select-your-city {
	border-radius: 0;
	color: #237ec2;
	font-family: 'ralewaymedium';
	font-size: 16px;
}
.footer .select-your-city .glyphicon {
	color: #237ec2;
}
.footer h5 {
	font-family: 'raleway';
	font-size: 26px;
	font-weight: normal;
	line-height: 23px;
	text-transform: uppercase;
}
.footer h5 b {
	font-family: 'ralewaybold';
	font-size: 12px;
	line-height: 14px;
	text-transform: none;
	display: block;
}
.footer a {
	font-family: "Helvetica Neue", Arial;
	font-style: italic;
	color: inherit;
}

.footer-links {
	margin: 40px auto 25px auto;
	width: 52%;
}
.footer-col {
	border-right: 2px solid #fff;
	min-height: 222px;
}
@media (max-width: 767px) {
	.footer-col {
		border-right: 0;
	}
}
.footer-col h5 {
	margin-bottom: 45px;
}

.footer-col .footer-logo img {
 	margin-bottom: 25px;
}
.footer-col:nth-of-type(2) p {
	font-family: 'ralewaymedium';
	font-size: 16px;
}
.footer-col:nth-of-type(3) {
	border-right: 0;
	font-family: "Helvetica Neue", Arial;
}
.footer-col:nth-of-type(3) h5,
.footer-col:nth-of-type(3) h6 {
	font-family: "Helvetica Neue", Arial;
	font-weight: normal;
	font-size: 26px;
}
.footer-col:nth-of-type(3) h6 {
	text-transform: none;
	line-height: 32px;
	margin-bottom: 25px;
}

/* PAGES -- to be separated out */



/* modal */

.our-clients-modal .modal-header {
	border-bottom: 0;
}
.our-clients-modal .modal-header .close {
	color: #ca3158;
	font-family: 'raleway';
	font-size: 50px;
	margin-top: -20px;
	font-weight: normal;
}
.our-clients-modal h4 {
	color: #ca3158;
	font-size: 32px;
	font-family: 'ralewaylight';
	margin-top: 40px;
}

.our-clients-modal h4 b {
	font-family: 'ralewaymedium';
}

.our-clients-modal h5 {
	font-size: 18px;
	color: #ca3158;
	margin-top: 30px;
}

.our-clients-modal ul {
	font-size: 18px;
	font-family: 'ralewaylight';
	padding-left: 20px;
}

.our-clients-modal ul b {
	color: #000;
}

.our-clients-modal ul i {
	color: #333;
}

.our-clients-modal ul b {
	font-family: 'ralewaymedium';
}

.our-clients-modal .modal-pic1 {
	position: absolute;
	z-index: 400;
	top: 30px;
	left: -90px;
}
.our-clients-modal .modal-pic2 {
	position: absolute;
	z-index: 500;
	top: 160px;
	left: 15px;
}
	
.our-clients-modal .modal-pic3 {
	position: absolute;
	z-index: 300;
	top: 370px;
	left: -110px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 675px;
	}
}

@media (max-width: 480px) {
	h2 {
		margin-top: 0;
	}

	.contact-form {
		margin-bottom: 40px;
	}
    .footer-col:nth-of-type(1) {
	    min-height: 180px;
    }
    .footer {
	    padding-bottom: 200px;
    }
}
