body {
	font-family: 'raleway';
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	height: 0;
}

p > small {
	font-size: 11px;
}

h1,h2,h3,h4,h5,h6,p {
	line-height: 1.45;
}
input.webform-submit{
	display: none;
}

.btn-primary {
	font-size: 1.125em;
}

.dropdown-menu {
	width: 375px;
}
.dropdown-menu li, .dropdown-menu li a{
	font-family: 'ralewaymedium';
	font-size: 0.975em;
	color: #000;
	font-style: normal;
}

.dropdown-menu li{
	list-style: none;
}
.dropdown-menu li a{
	display: block;
}
.dropdown-menu li.col-mega-dd{
	float: left;
	position: relative;
	width: 33%;
}
.dropdown-menu li.col-mega-dd ul{
	padding-left: 4px;
	height: 250px;
	overflow-y: auto;
	border-left: 1px solid #eeeeee;
}

.dropdown-menu li.col-mega-dd:nth-child(4){
	clear: both;
}
.dropdown-menu li.col-mega-dd span{
	background-color: #efefef;
	padding:3px; 
}
.signoff {
	font-family: 'freshscript';
	font-size: 4.375em;
	text-align: center;
	color: #237ec2;
}

.our-story-box {
	text-align: center;
	color: #fff;
	padding: 20px 0;
}

.our-story-box h3 {
	/*font-size: 40px;*/
	/*font-size: 1.1em;*/
	font-size: 2.500em;
	font-family: 'ralewaylight';
	text-transform: uppercase;
	font-weight: normal;
}

.our-story-box h3 b {
	display: block;
	font-family: 'ralewaybold';
	font-weight: normal;
}

/* our pledge */

.our-pledge {
	margin-bottom: 80px;
}

.our-pledge h2 {
	margin-top: 80px;
}

.our-pledge ul li {
	padding-bottom: 10px;
}

.matchmaker {
	padding-top: 20px;
}
.matchmaker ul {
	margin: 0 auto;
	font-family: 'ralewaylight';
}

.matchmaker ul.arrow-text {
	margin-top: 100px;
}

.matchmaker li {
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
}

@media (max-width: 480px) {
	.matchmaker li {
		font-size: 30px;
	}
}

.matchmaker li:first-child {
	text-align: left;
}

.matchmaker li:last-child {
	text-align: right;
}

.matchmaker li b {
	color: #ca3158;
	font-weight: normal;
	font-family: 'ralewaymedium';
}

.people-txt, .matchmaker-txt {
	width: 90%;
}

.matchmaker-txt, .matchmaker .arrow-left {
	float: left;
}

.people-txt, .matchmaker .arrow-right {
	float: right;
}

.matchmaker .arrow-left, .matchmaker .arrow-right {
	width: 36px;
	line-height: 80px;
}

@media (max-width: 767px) {

	.matchmaker .arrow-left, .matchmaker .arrow-right {
		width: 15px;
	}
	.matchmaker ul.arrow-text {
		margin-top: 0;
	}

}


/* Consumer Affairs */

.consumer-affairs {
	margin-top: 100px;
	padding: 40px 0;
	/*margin-bottom: 90px;*/
}

.consumer-affairs h3 {
	font-family: 'ralewaylight';
	/*font-size: 33px;*/
	/*font-size: .82em;*/
	font-size: 2.063em;
	color: #fff;
	margin: 0;
	text-align: center;
	/*margin-top: 10%;*/
}

.consumer-affairs h3 b {
	font-family: 'ralewaymedium';
}

.consumer-affairs img {
	text-align: right;
	/*margin-top: 40px;*/
}

/* In The News Bar */

.in-the-news-blocks p {
	font-family: 'ralewaymedium';
}

.in-the-news-blocks a {
	font-family: 'ralewaybold';
}
.in-the-news-blocks h2 {
	margin-top: 80px;
}

.news-read-arrow-left {
	background-image: url('../images/news-arrow-left.jpg');
	background-repeat: no-repeat;
	background-position: center left;
}

.news-read-arrow-right {
	background-image: url('../images/news-arrow-right.jpg');
	background-repeat: no-repeat;
	background-position: center right;
}
.news-read {
	padding-top: 10px;
	padding-bottom: 0px;
}

@media (max-width: 480px) {

	.news-read {
		padding-top: 10px;
		padding-bottom: 10px;
	}

}
.in-the-news .read-more {
	color: #237ec2;
	font-family: 'ralewaybold';
}

.dating-survey {
	text-align: center;
}

.dating-survey h2 {
	margin-top: 90px;
}

.dating-survey .button-check .btn {
	height: 60px;
	background-color: #fff;
	border: 2px solid #acacac;
	border-radius: 30px;
	margin-bottom: 20px;
}

.dating-survey .button-check .btn.active {
	background-color: #e8e8e8;
	font-family: 'ralewaybold';
	color: #ca3158;
}

.dating-survey .button-check .btn {
	font-family: 'raleway';
	color: #333333;
	position: relative;
}

.dating-survey .button-check .btn.active .icon-check {
	position: absolute;
	top: 14px;
	left: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../images/icon-check.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 25px;
	width: 22px;
	line-height: 1;
}

.dating-survey .button-check .btn span {
	display: inline-block;
	vertical-align: middle;
}

.dating-survey p {
	font-family: 'ralewaybold';
	/*font-size: 18px;*/
	/*font-size: .53em;*/
	font-size: 1.125em;
}



.banner h2 {
	/*margin-top: 50px;*/
}

.banner p {
	/*margin-bottom: 40px;*/
	font-family: 'ralewaythin';
}


/* FAQ */
.faq strong{
	padding-top: 40px;
	display: block;
}


/* Contact us */

.contact-us {
	text-align: center;
	margin-top: 70px;
}
.contact-us hr {
	/*width: 7%;*/
	width: 15%;
	border-width: 2px;
}

.contact-us h3 span {
	font-family: "Helvetica Neue", Arial;
	font-weight: normal;
	display: block;
}

.contact-us p {
	font-size: 1.5em;
	font-family: 'ralewaymedium';
}

.contact-form {
	margin-bottom: 109px;
}
.contact-form .dropdown {
 text-align: left;
 width: 100%;
}
@media (max-width: 768px) {
	.contact-form .dropdown:nth-of-type(1) {
		margin-bottom: 15px; /* adds spacing below city dropdown */
	}
}

.contact-form .dropdown .btn {
	color: #9f9f9f;
	text-align: left;
	width: 100%;
}

/* Typography */
h1, h2, h3 {
	line-height: 1;
}
h1 {
	font-size: 4.5em;
}
h2 {
	/*font-size: 72px;*/
	/*font-size: 2.31em;*/
	font-size: 4.5em;
	font-family: 'ralewaythin';
	text-align: center;
}

h2 b {
	font-weight: normal;
	font-family: 'ralewaymedium';
}

.main-hero p {
	font-size: 1.375em;
	line-height: 34px;
	font-family: 'raleway';
}

/* Horizontal Rules */
.hrblack {
	border-top: 3px solid #000;
	width: 15%;
}
.hrwhite {
	border-top: 3px solid #fff;
	width: 15%;
}
.hrblue {
	border-top: 3px solid #237ec2;
	width: 15%;
}

.hrdarkpink {
	border-top: 3px solid #ca3158;
	width: 7%;
}

/* Imagery */

.thumbnail {
	background-color: #f7f7f7;
	border: 0;
	padding: 6px;
}


.banner {
	padding: 40px 0;
	color: #fff;
	text-align: center;
}

.banner h3 {
	margin-top: 0;
	font-family: 'ralewaythin';
	font-size: 4em;
}

.banner h3 b {
	font-weight: normal;
	font-family: 'ralewaymedium';
}

.banner p {
	margin-bottom: 0;
	font-family: 'ralewaymedium';
	font-size: 1.375em;
}

.blue-banner {
	background-color: #237ec2;
}

.darkpink-banner {
	background-color: #ca3158;
}


/* Buttons */

.btn-primary, .btn-secondary, .btn-tertiary {
	text-transform: uppercase;
}

/* orange button */
.btn-primary {
	background-color: #f68d4f;
	color: #fff;
	border: 0;
}

button.btn-primary, .btn-secondary, .btn-tertiary {
	/*font-size: 18px;*/
	font-size: 1.08em;
}

/* blue button */
.btn-secondary {
	background-color: #237ec2;
	color: #fff;
	border: 0;
}

.btn-tertiary {
	background-color: #fff;
	color: #000;
	border-radius: 0;
	border: 1px solid #000;
}

/* Quotes and Testimonials */

blockquote {
	padding: 0;
	margin: 0;
	border: 0;
}

cite {
	color: #ffffff;
	/*font-size: 40px;*/
	font-size: 2.5em;
	font-family: "freshscript";
	font-style: normal;
	display: block;
}

.title {
	color: #ffffff;
	font-family: 'ralewaylight';
	/*font-size: 20px;*/
	font-size: 1.250em;
}

.give-us-a-call {
	background-color: #f68d4f; 
	color: #fff;
	text-align: center;
	/*min-height: 30px;*/
}

.give-us-a-call p {
	font-size: 14px;
	margin-top: 3px;
	/*font-size: .65em;*/
}
@media (min-width: 768px) {
	body:not(.home) .give-us-a-call {
		display: none;
	}
}

.lets-chat {
	background-color: #f1f1f0;
	border-bottom: 1px solid #c4beaa;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.lets-chat p span {
	/*font-size: 16px;*/
	font-family: 'ralewaymedium';
	/*font-size: .65em;*/
}
.lets-chat p {
	/*font-size: 25px;*/
	font-size: 1.16em;
	margin: 10px 0;
}

@media (max-width: 767px) {
	.give-us-a-call {
		width: 100%;
		position: fixed;
		z-index: 100;
		top: 0;
	}
	.home .main-hero {
		/*padding-top: 100px;*/
	}
    .main-hero {
	    margin-top: 100px;
    }
}


/* Carousels */



.carousel-indicators {
	/*bottom: 130px;*/
	/*bottom: 4em;*/
	bottom: 2.8em;
}

.carousel-indicators li {
	background-color: #fff;
	border:1px solid #237ec2;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.carousel-indicators li.active {
	background-color: #237ec2;
	width: 30px;
	height: 30px;
}


/* Structure */


.dating-trends {
	text-align: center;
	margin: 50px auto;
}

.dating-trends .bg-like {
	background-image: url('../images/bg-like-thumb.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 170px;
}

.dating-trends .bg-calendar {
	background-image: url('../images/bg-calendar.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 170px;
}

.dating-trends .bg-magnifying-glass {
	background-image: url('../images/bg-magnifying-glass.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 170px;
}

@media (max-width: 767px){
	.bg-like, .bg-magnifying-glass {
		margin-bottom: 40px;
	}
	.bg-calendar {
		margin-bottom: 20px;
	}
}

.dating-trends h3 {
	font-family: 'ralewaymedium';
	/*font-size: 66px;*/
	/*font-size: 1.65em;*/
	/*font-size: 4.125em;*/
	font-size: 3.5em;
}

.dating-trends p b {
	font-weight: normal;
 	font-family: 'ralewaybold';
}

.dating-trends h3, .dating-trends p {
	color: #237ec2;
}

.dating-trends p {
	font-size: 1em;
}

.footer {
	color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer .select-your-city {
	border-radius: 0;
	color: #237ec2;
	font-family: 'ralewaymedium';
	/*font-size: 16px;*/
	font-size: 1em;
}
.footer .select-your-city .glyphicon {
	color: #237ec2;
}
.footer a {
	font-family: "Helvetica Neue", Arial;
	font-style: italic;
	color: inherit;
	font-size: .65em;
}

.footer h5, .footer h6 {
	font-family: 'raleway';
	/*font-size: 26px;*/
	font-size: 1.85em;
	font-weight: normal;
	line-height: 35px;
	text-transform: uppercase;
}
.footer h5 b {
	font-family: 'ralewaybold';
	/*font-size: 12px;*/
	font-size: .46em;
	/*line-height: 14px;*/
	line-height: 1.45;
	text-transform: none;
	display: block;
}

.footer-links {
	margin: 40px auto 25px auto;
	width: 52%;
}
.footer-col {
	border-right: 2px solid #fff;
	/*min-height: 222px;*/
	min-height: 261px;
}
@media (max-width: 767px) {
	.footer-col {
		border-right: 0;
	}
}
.footer-col h5 {
	margin-bottom: 45px;
}

.footer-col .footer-logo img {
 	margin-bottom: 25px;
}
.footer-col:nth-of-type(2) p {
	font-family: 'ralewaymedium';
	/*font-size: 16px;*/
	font-size: 1.14em;
}
.footer-col:nth-of-type(3) {
	border-right: 0;
	/*font-family: "Helvetica Neue", Arial;*/
	font-family: "ralewaymedium";
}
.footer-col:nth-of-type(3) h5,
.footer-col:nth-of-type(3) h6 {
	/*font-family: "Helvetica Neue", Arial;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.41em;
	font-weight: 600;
	text-transform: uppercase;
	/*font-size: 26px;*/
}
.footer-col:nth-of-type(3) h6 {
	text-transform: none;
	line-height: 32px;
	margin-bottom: 25px;
}


/* modal */

.our-clients-modal .modal-header {
	border-bottom: 0;
}
.our-clients-modal .modal-header .close {
	color: #ca3158;
	font-family: 'raleway';
	font-size: 50px;
	margin-top: -20px;
	font-weight: normal;
}
.our-clients-modal h4 {
	color: #ca3158;
	font-size: 14px;
	font-family: 'ralewaylight';
	line-height: 1.05;
}

.our-clients-modal h4 b {
	font-family: 'ralewaymedium';
	display: block;
}

.our-clients-modal h5 {
	font-size: 15px;
	color: #ca3158;
	line-height: 1.05;
}

.our-clients-modal ul {
	font-size: 11px;
	font-family: 'ralewaylight';
	padding-left: 10px;
	line-height: 1.25;
}

.our-clients-modal ul b {
	color: #000;
}

.our-clients-modal ul i {
	color: #333;
}

.our-clients-modal ul b {
	font-family: 'ralewaymedium';
}

.our-clients-modal p {
	text-align: left !important;
}

.our-clients-modal .modal-pic1 {
	position: absolute;
	z-index: 400;
	top: 30px;
	left: -90px;
}
.our-clients-modal .modal-pic2 {
	position: absolute;
	z-index: 500;
	top: 160px;
	left: 15px;
}
	
.our-clients-modal .modal-pic3 {
	position: absolute;
	z-index: 300;
	top: 370px;
	left: -110px;
}


/* Wide Screen */
@media (min-width: 1230px) {
	.home-our-clients {
		background-position: bottom center;
		background-size: cover;
	}

}

@media (max-width: 1104px) {
	#navbar {
		margin-left: 2%;
	}
}


@media (max-width: 993px) {
    .mobile-logo {
	    width: 120px;
	    margin-top: 13px;
    }
}



@media (max-width: 990px) {
	.navbar .navbar-nav li {
		padding-left: 2px;
		padding-right: 2px;
	}
    .home #navbar {
	    margin-left:  auto;
    }
	.mobile-logo {
		width: 110px;
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 675px;
	}
	.home .main-hero {
		background-position: 0 0;
		background-size: cover;
	}

}

@media (max-width: 767px) {
	.mobile-logo {
		width: 167px;
	}
/*	.img-box {
		background-position: top center !important;
		background-size: contain !important;
		min-height: 1px !important;
	}

	.txt-box {
		background-color: #ccc;
	}*/

}


@media (max-width: 690px) {

	.home .main-hero {
		min-height: 470px;
		background-size: cover;
	}
	.home .main-hero .btn {
		margin-top: 24px;
	}
}

@media (max-width: 480px) {
	h2 {
		margin-top: 20px !important;
	}
	.contact-us {
		margin-top: 10px;
	}
	.contact-form {
		margin-bottom: 40px;
	}
    .footer-col:nth-of-type(1) {
	    min-height: 180px;
    }
    .footer {
	    padding-bottom: 200px;
    }
	.banner {
		padding: 20px 0;
	}

}
@media (min-width: 768px) {
	.navbar .navbar-nav li a {
		font-size: .8em;
	}
}




@media (min-width: 960px) {
	.navbar .navbar-nav li a, #nav.affix li a {
		font-size: 1.1em;
	}
}

/* Other Generic Styles */
.left-black-text p {
	color: #000;
	text-align: left;
}
.page-intro-text{
	margin-top: 35px;
}
.page-intro-text p {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}
.marginbottom30 {
	margin-bottom: 30px
}
.nopadding{
	padding: 0 !important;
}
.margintop70 {
	margin-top: 70px;
}