/* Margins */

.marginbottom40 {
	margin-bottom: 40px;
}

.marginbottom25 {
	margin-bottom: 25px;
}

.marginbottom50 {
	margin-bottom: 50px;
}
.marginbottom60 {
	margin-bottom: 60px;
}
.marginbottom80 {
	margin-bottom: 80px;
}
.margintopbottom40 {
	margin: 40px 0;
}

.no-margin-left {
	margin-left: 0;
}

/* Colors */

.orange {
	color: #f68d4f;
}

.blue {
	color: #237ec2;
}

.darkpink {
	color: #ca3158;
}	

.lightgray {
	color: #f2f2f2;
}

.darkgray {
	color: #e8e8e8;
}

/* Background colors */

.bg-darkgray {
	background-color: #e8e8e8;
}

.bg-lightgray {
	background-color: #f2f2f2;
}

.bg-black {
	background-color: #000;
}
.bg-blue {
	background-color: #237ec2;
}
.bg-darkpink {
	background-color: #ca3158;
}
.bg-gradient {
	background: #56ba62; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2YmE2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTdjYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #56ba62 0%, #2a7cc1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#56ba62), color-stop(100%,#2a7cc1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #56ba62 0%,#2a7cc1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #56ba62 0%,#2a7cc1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #56ba62 0%,#2a7cc1 100%); /* IE10+ */
	background: linear-gradient(to right,  #56ba62 0%,#2a7cc1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56ba62', endColorstr='#2a7cc1',GradientType=1 ); /* IE6-8 */
}

/* Arrows */

.notch {
	width: 0; 
	height: 0; 
}

.notch-down-white {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

.notch-wrap {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 150px;
  width: 100%;
  margin: 0 auto;
}

.notch-down-trans {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #fff;
}
.notch-down-trans:before, .notch-down-trans:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box;
}
.notch-down-trans:before {
  right: 50%;
  border-bottom: 20px solid #fff;
  border-right: 20px solid transparent;
}
.notch-down-trans:after {
  left: 50%;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
}
