
.navbar {
	margin-bottom: 0;
	background-color: #f5f5f2;
}

 .navbar {
	background-color: transparent;
	background-image: url("../images/bg-transparent-nav.png");
	background-repeat: repeat;
	background-position: top left;
	margin-top: -50px;
}

.home .navbar.affix {
	/*background-color: #f5f5f2;*/
	/*background-image: none;*/
	margin-top: 0;
}

body:not(.home) .navbar {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	margin-top: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
	vertical-align: middle;
}

#navbar.navbar-collapse.collapse.in {
	margin: 0;
}
.navbar-collapse.collapse.in {
	padding-left: 0;
	padding-right: 0;
}
.navbar-collapse.collapse.in .navbar-nav {
	width: 100%;
}

.navbar-collapse.collapse.in .navbar-nav li {
	width: 100%;
	border-bottom: 1px solid #000;
}

.navbar-collapse.collapse.in .navbar-nav li a {
	font-size: 1em;
}
.navbar-collapse.collapse.in .navbar-nav li.active a {
	font-family: 'ralewaybold';
	background-color: transparent;
}

.navbar-default {
	border: 0;
}

#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
	/*z-index: 20;*/
	border-bottom: .5px solid #fff;
}

@media (min-width: 768px) {
	#nav.affix {
		border-bottom: 0;
	}
}

.home #nav.affix ul li:first-child {
	display: none;
}
.navbar, #nav.affix {
	z-index: 90;
}

#sidebar.affix-top {
	position: static;
}

#sidebar.affix {
	position: fixed;
	top: 80px;
}
.navbar-default .navbar-nav>li>a {
	color: #333;
	font-family: 'ralewaymedium';
	/*font-size: .65em;*/
	/*font-size: .48em;*/
	font-size: 0.87em;
}

@media (min-width: 1300px) {
	.navbar .navbar-nav li {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-toggle {
	margin-top: 12px;
}

.highlight {
	background-color: #2b7dc1;
}
.highlight a {
	color: #fff !important;
}

/* Circular Badge */
.get-started-badge {
	position: absolute;
	right: 20px;
	top: -50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 50%;
	background-color: #f68d4f;
	border: 4px solid #f68d4f;
	box-shadow: inset 0 0 0 5px #fff;
	text-align: center;
	width: 130px;
	height: 130px;
}

.get-started-badge a {
	display: block; 
	color: #fff;
	font-family: 'raleway';
	font-size: 20px;
	line-height: 25px;
	padding-top: 30px;
}

.home .get-started-badge {
	display: none;
	visibility: hidden;
}

.home #nav.affix .get-started-badge {
	display: block;
	visibility: visible;
	/*margin-top: 10px;*/
	margin-top: -2px;
}

.home #nav.affix .get-started-badge a {
	/*margin-top: -8px;*/
	margin-top: 24px;
}

@media (max-width: 767px) {

	#nav.affix {
		top: 30px;
	}
	h1 {
		margin-top: 80px;
	}
	.home h1 {
		margin-top: 0;
	}
    .home .navbar, .home .navbar.affix {
	    background-color: #f5f5f2;
	    background-image: none;
	    position: fixed;
	    top: 80px;
	    width: 100%;
    }

    .navbar .container {
	    padding-left: 0;
	    padding-right: 0;
    }
    .navbar .navbar-header {
	    padding-left: 15px;
	    padding-right: 15px;
    }

    .navbar .ijl-menu {
	    padding-left: 0;
	    padding-right: 0;
    }

    .navbar-nav {
	    margin-top: 0;
	    margin-bottom: 0;
    }

	#navbar.navbar-collapse {
		opacity: 0;
	}

	#navbar.navbar-collapse.collapse.in {
		opacity: 1;
		transition: all .5s ease-in-out;
	}

}

.home .ijl-menu {
	width: 100%;
	margin-left: 0;
	margin-right: auto;
	padding-right: 0;
	padding-left: 0;
}

