.our-clients-hero {
	background-image: url('../images/bg-our-clients.jpg');
	background-repeat: no-repeat;
	background-position: 60% 50%;
	min-height: 483px;
	color: #333;
}

.our-clients-hero hr {
	margin-left: 0;
}

.our-clients-hero h1 {
	/*font-size: 72px;*/
	font-family: 'ralewaythin';
	margin-top: 110px;
}

.our-clients-hero h1 b{
	 font-family: "ralewaymedium"
}
.our-clients-hero p {
	font-family: 'raleway';
	/*font-size: 22px;*/
	font-size: 1.375em;
	line-height: 34px;
}

.our-clients .contact-us {
	margin-top: 10px;
}

.love-a-good-story h2 {
	margin-top: 60px;
}

.love-a-good-story p {
	/*font-size: 24px;*/
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1.5em;
}

.love-a-good-story .col-1 {
	padding-top: 90px;
}

.love-a-good-story .col-3 {
	padding-top: 30px;
}

.love-a-good-story .col-5 {
	padding-top: 45px;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:5px solid #237ec2;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:4px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
	margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
	border-width:20px 20px 0;
	border-style:solid;
	border-color:#237ec2 transparent;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-103px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:13px 13px 0;
	border-style:solid;
	border-color:#fff transparent;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
	top:100px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #237ec2;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:106px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #fff;
}

.ijl-featured-couple {
	padding: 2.855em 0;
	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.55);
}

.ijl-featured-couple h2 {
	font-family: 'ralewaylight';
}

.ijl-featured-couple h2 strong {
	font-family: 'ralewaymedium';
}

.ijl-featured-couple p, .ijl-featured-couple ul {
	font-size: 1.32em;
	line-height: 1.45em;
}

.ijl-featured-couple .triangle-border {
	margin-top: 40px;
}

.ijl-featured-couple ul li:first-child strong {
	font-family: 'ralewaybold';
}

.ijl-featured-couple ul li .glyphicon {
	color: #f68d4f;
	font-size: .8em;
}

.ijl-featured-couple ul li strong {
	font-weight: normal;
	font-family: 'ralewaysemibold';
}

.ijl-featured-couple p {
	font-family: 'ralewaymedium';
	margin-top: 40px;
}
.ijl-featured-couple p strong {
	font-weight: normal;
	font-family: 'ralewaybold';
}

.ijl-featured-couple p span {
	display: block;
}

.ijl-featured-couple .btn {
	margin-top: 20px;
	margin-bottom: 20px;
}


.our-clients .darkpink-banner p, .our-clients .banner p {
	font-size: 24px;
	font-family: 'ralewaymedium';
	margin-top: 20px;
}

/* Wide Screen */
@media (min-width: 1230px) {
	.our-clients-hero {
		background-position: 0 50%;
		background-size: cover;
	}
}

@media (max-width: 690px) {
	.our-clients-hero {
		min-height: 470px;
		background-size: cover;
	}
	.our-clients-hero h1 {
		margin-top: 100px;
	}
}

@media (max-width: 480px) {
	.our-clients .love-a-good-story h2 {
		margin-top: 40px;
		font-size: 52px;
		margin-bottom: 30px;
	}
	.our-clients .love-a-good-story p {
		margin-bottom: 30px;
	}
	.our-clients-hero {
		/*min-height: 1px;*/
		background-position: bottom right;
	}
	.our-clients .darkpink-banner h3, .our-clients .banner h3 {
		font-size: 42px;
	}
    .our-clients-hero .hero-col {
	    width: 100%;
	    left: 0;
    }

}
