.our-process-hero {
	background-image: url('../images/bg-our-process.jpg');
	background-repeat: no-repeat;
	/*background-position: 0% 50%;*/
	/*background-size: cover;*/
	background-position: 100% 50%;
	min-height: 477px;
	color: #333;
	text-align: left;
}

.our-process-hero h1 {
	/*font-size: 60px;*/
	font-size: 4.5em;
	font-family: 'ralewaythin';
	margin-top: 110px;
}

.our-process-hero h1 b {
    font-family: 'ralewaymedium';
}

.our-process-hero p {
	font-family: 'raleway';
	/*font-size: 22px;*/
	font-size: 1.375em;
	line-height: 34px;
}

.our-process .contact-us {
	margin-top: 10px;
}

.our-process-hero hr {
	width: 30%;
	margin-left: 0;
}

.step-1 h2, .step-2 h2, .step-3 h2, .step-4 h2, .step-5 h2, .step-6 h2 {
	font-family: 'ralewaymedium';
	/*font-size: 38px;*/
	font-size: 2.375em;
	line-height: 50px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 0;
}

.step-1 h2:before, .step-2 h2:before, .step-3 h2:before, .step-4 h2:before, .step-5 h2:before, .step-6 h2:before {
	border-radius: 50%;
	border: 2px solid #237ec2;
	width: 50px;
	height: 38px;
	line-height: 50px;
	color: #237ec2;
	padding: 10px;
	margin-right: 15px;
}

.step-1 h2:before {
	content: '01';
}

.step-2 h2:before {
	content: '02';
}

.step-3 h2:before {
	content: '03';
}

.step-4 h2:before {
	content: '04';
}

.step-5 h2:before {
	content: '05';
}

.step-6 h2:before {
	content: '06';
}

.step-1 p, .step-2 p, .step-3 p, .step-4 p, .step-5 p, .step-6 p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*font-size: 18px;*/
	font-size: 1.125em;
	line-height: 30px;
}

.step-1 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.step-6 {
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-color: #f4f4f3;
	position: relative;
	min-height: 395px;
}

.step-2 {
	background-image: url('../images/bg-step-2.jpg');
	padding-top: 60px;
	padding-bottom: 60px;
	background-position: -300px 0;
	background-size: cover;

	background-repeat: no-repeat;
	background-color: #f4f4f3;
	position: relative;
	min-height: 395px;
}


.step-3 {
	padding-top: 50px;
	padding-bottom: 60px;
}

.step-4 {
	background-image: url('../images/bg-step-4.jpg');
	padding-top: 80px;
	padding-bottom: 80px;
	background-position: 0 50%;
	background-size: cover;

	background-repeat: no-repeat;
	background-color: #f4f4f3;
	position: relative;
	min-height: 395px;
}

.step-5 {
	padding-top: 30px;
	padding-bottom: 60px;
}

.step-5 a {
	color: #f68d4f;
	text-decoration: underline;
	font-weight: bold;
}

.step-6 {
	background-image: url('../images/bg-step-2.jpg');
	padding-top: 80px;
	padding-bottom: 80px;
}

.step-4 .notch, .step-2 .notch, .step-6 .notch {
	position: absolute;
	top: 0;
	left: 10%;
}

.step-2 .notch-wrap, .step-4 .notch-wrap,.step-6 .notch-wrap {
	left: 0;
}

.step-2 .notch-down-trans:before {
  right: 76%;
  width: 100%;
}
.step-2 .notch-down-trans:after {
  left: 24%;
  width: 100%;
}

.step-4 .notch-down-trans:before {
  right: 76%;
  width: 100%;
}

.step-4 .notch-down-trans:after {
  left: 24%;
  width: 100%;
}

.step-6 .notch-down-trans:before {
  right: 76%;
  width: 100%;
}

.step-6 .notch-down-trans:after {
  left: 24%;
  width: 100%;
}

/* Wide Screen */
@media (min-width: 1230px) {
	.our-process-hero {
		background-position: 0 30%;
		background-size: cover;
	}
}


@media (max-width: 690px) {
	.our-process-hero {
		min-height: 470px;
		background-size: cover;
	}
}

@media (max-width: 480px) {
	.step-1, .step-2, .step-3, .step-4 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.step-2, .step-4 {
		padding-top: 0;
		padding-bottom: 0;
		background-position: 100% 50%;
	}
	.step-2 .notch-wrap, .step-4 .notch-wrap {
		bottom: -20px;
	}
	.step-2 h2, .step-4 h2 {
		margin-top: 50px;
		margin-bottom: 10px;
	}
}
